.header {
    display: flex;
    width: 60vw;
    height: 80px;
    padding: 0px 70px;
    align-items: center;
    justify-content: space-between;
    background: #a3a3a3;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 30px #ffffff43;
}

.header h1 {
    font-size: 2.3em;
    font-weight: 800;
}

nav a {
    margin-left: 40px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 600;
    transition: 0.5s;
    color: #fff;
}


