<div class="cadastro-container">
  <div class="form_container">
    <h1>Cadastro de clientes</h1>
    <form [formGroup]="meuFormulario" #formDir="ngForm">
      <div class="inputs">
        <input type="text" placeholder="Nome" formControlName="nome">
      </div>
      <div class="inputs">
        <input type="text" placeholder="Telefone" formControlName="telefone">
      </div>
      <div class="inputs">
        <input type="text" placeholder="Email" formControlName="email">
      </div>
      <div class="inputs">
        <input type="text" placeholder="Endereço" formControlName="endereco">
      </div>
      <button (click)="postCliente()">Salvar</button>
    </form>
  </div>

</div>
